.right { float: right;}
.left { float: left; }
.clear { clear: both; }

#container {
	margin: 20px auto;
	width: 90%;
}

#header {
	text-align: center;
	margin-bottom: 20px;
}

#header h1 {
	font-size: 20px;
}

#create-station {
	text-align: center;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 20px;
	height: 600px;
	width: 600px;
	margin: 0 auto;
}

#create-station #search-area {
	margin-top: 15px;
}

#create-station input {
	width: 80%;
}

#result-area {
	margin-top: 20px;
	text-align: left;
}

.result-container {
	width: 45%;
	overflow-y:auto;
	overflow-x:hidden;
	height: 500px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.result-container div strong {
	padding-left: 20px;
	font-size: 14px;
}

.result-container div hr {
	margin: 5px 10px;
	border: 1px dotted #999;
	border-top: none;
}

.result-container h3 {
	padding: 5px 0 0px 15px;
}

.description-result {
	text-transform: capitalize;
	font-size: 14px;
	padding: 5px 15px;
}

.result-even { background-color: #dedede; }

.artist-search-image, .song-search-image {
	height: 48px;
	width: 48px;
	margin: -17px 10px 0 5px;
}

.song-search-image {
	margin-top: -9px;
}

.artist-search-image div, .song-search-image div {
	height: 48px;
	width: 48px;
}

.artist-result {
	font-size: 14px;
	padding: 22px 0px 22px 0px;
}

.song-result {
	padding: 11px 0px 11px 0px;
}

.song-search-title {
	font-size: 12px;
}

.song-search-artist {
	font-size: 10px;
}

.description-result:hover, .song-result:hover, .artist-result:hover {
	background-color: #B8D9F5;
}

#artist-image {
	height: 128px;
	width: 128px;
	float:left;
	margin-right: 20px;
}

#artist-image .image {
	height: 128px;
	width: 128px;
	float:left;
}

#track-info {
	
}

#track-name {
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0px 15px 0px;
}

#track-name a:hover {
	text-decoration: none;
}

#artist-name {
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

#current-playing {
	-webkit-box-shadow: 5px 5px 10px #ccc;
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 10px 0 10px 40px;
	margin-bottom: 30px;
}

#session-info-button {
	float:right;
}

.session-term {
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 10px;
	height: 20px;
	margin: 5px 2px;
}

.session-description {
	position: absolute;
	padding: 0px 20px;
	font-weight: bold;
	font-size: 14px;
	color: #111;
	text-shadow: 1px 1px 2px #AAA;
}

.session-amount { 
	background: -webkit-linear-gradient(top, #e8abac 0%,#a80002 100%);
	height: 20px;
	border-radius: 10px;
}

.history-image, .history-image .image {
	height: 64px;
	width: 64px;
	float:left; 
}

.history-image {
	margin-right: 5px;
}

#ban-buttons {
	float:right;
	margin-top:110px;
	margin-right:10px;
}